@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700,600,800,700italic,400italic,800italic");
.home {
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 65px;
    height: 100vh;
    min-height: 2678px;
    min-width: 1439px;
    width: 100%;
}

.hidden,

/* Mentors section styles */

.mentors {
    background-color: #f7f7f7;
    text-align: center;
    padding: 4rem 1rem;
  }
  
  .mentors-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .mentors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .mentor {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .mentor-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .mentor-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .mentor-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.frame-1-1 {
    color: aqua;
    align-items: center;
    display: flex;
    gap: 1013px;
    padding: 40px 0px;
    width: fit-content;
}

.frame-6 {
    background-color: var(--alto);
    height: 41px;
    min-width: 133px;
    position: relative;
}

.logo {
    cursor: pointer;
    left: 13px;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 112px;
}

.frame-7 {
    height: 41px;
    min-width: 176px;
    position: relative;
}

.login {
    color: #020202;
    cursor: pointer;
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    left: 0;
    letter-spacing: 0.9px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 7px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.overlap-group {
    border-radius: 20px;
    height: 41px;
    left: 69px;
    position: absolute;
    top: 0;
    width: 107px;
}

.rectangle-1 {
    background-color: var(--cinnabar);
    border-radius: 20px;
    box-shadow: 4px 4px 4px #00000080;
    cursor: pointer;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 107px;
    color: var(--white);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: center;
    border-width: 0px;
}

.rectangle-1:hover {
    background-color: var(--cinnabar2);
}

.frame-2-home {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 1px;
    width: fit-content;
}

.frame-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
}

.frame-15 {
    align-items: center;
    display: flex;
    gap: 50px;
    width: fit-content;
    padding: 30px 30px
}

.lorem-ipsum-is-simpl-frame-13,
.lorem-ipsum-is-simpl-frame-15 {
    height: 149px;
    letter-spacing: 0.45px;
    line-height: normal;
    width: 828px;
}

.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-image img {

    width:100%;
}

.frame-16 {
    align-items: flex-start;
    background-color: var(--cinnabar);
    border-radius: 30px;
    box-shadow: 4px 4px 8px #00000080;
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 15px 30px;
    width: fit-content;
    color: var(--white);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-xxxl2);
    font-weight: 600;
    letter-spacing: 1.4px;
    line-height: normal;
    margin-top: -1px;
    text-align: center;
    border-width: 0px;
}

.frame-16:hover {
    background-color: var(--cinnabar2);
}

.frame-13 {
    align-items: center;
    display: flex;
    gap: 29px;
    width: fit-content;
    padding: 30px 30px
}

.frame-14 {
    align-items: center;
    display: flex;
    gap: 57px;
    width: fit-content;
    padding: 30px 30px
}

.lorem-ipsum-is-simpl-frame-14 {
    height: 149px;
    letter-spacing: 0.45px;
    line-height: normal;
    text-align: right;
    width: 828px;
}

.lorem-ipsum-is-simpl-frame-14 {
    height: 149px;
    letter-spacing: 0.45px;
    line-height: normal;
    text-align: right;
    width: 828px;
}

.frame-3 {
    align-items: flex-start;
    background-color: var(--black-2);
    background-image: url("background.jpg");
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 57px 220px;
    width: fit-content;
}

.frame-22 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: fit-content;
}

.frame-11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: fit-content;
}

.name {
    color: var(--white);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-xxxl2);
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1.25px;
    line-height: normal;
    margin-top: -1px;
    text-align: center;
    width: fit-content;
}

.frame-2-frame,
.frame-2-frame-11 {
    background-color: var(--white);
    border-radius: 90px;
    height: 44px;
    min-width: 655px;
    position: relative;
    box-shadow: 4px 4px 4px #00000080;
}

.icon2 {
    height: 40px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 40px;
    opacity: 0.5;
}

.frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: fit-content;
}

.search-your-mentor {
    color: var(--white);
    font-family: var(--font-family-open_sans);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

.line-2 {
    height: 5px;
    margin-left: -0.01px;
    min-width: 999.01px;
}

.frame-12 {
    align-items: flex-start;
    background-color: var(--green-haze);
    border-radius: 20px;
    box-shadow: 4px 4px 4px #00000080;
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 10px 19px;
    width: fit-content;
    color: var(--white);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-xl2);
    font-weight: 600;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
    border-width: 0px;
}

.frame-12:hover {
    background-color: var(--green-haze2);
}

.place-2 {
    color: var(--white);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-xxxl2);
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1.25px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

.icon1 {
    height: 30px;
    left: 16px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 30px;
    opacity: 0.5;
}

.title {
    color: var(--black);
    font-family: var(--font-family-open_sans);
    font-size: 65px;
    font-weight: 800;
    letter-spacing: 1.95px;
    line-height: normal;
    margin-top: -1px;
    text-align: center;
    width: fit-content;
}

.get-to-talk-and-ask {
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

.line-1 {
    height: 3px;
    min-width: 1240px;
}

.frame-5 {
    align-items: flex-end;
    background-color: var(--black-2);
    display: flex;
    flex-direction: column;
    gap: 51px;
    padding: 12px 40px;
    width: fit-content;
}

.frame-19 {
    align-items: center;
    display: flex;
    gap: 380px;
    width: fit-content;
}

.rectangle {
    background-color: var(--alto);
    height: 40px;
    min-width: 40px;
}

.copyright {
    letter-spacing: 1px;
    line-height: normal;
    margin-top: -1px;
    width: 517px;
}

.frame-21 {
    align-items: center;
    display: flex;
    gap: 400px;
    width: fit-content;
}

.frame-20 {
    background-color: var(--alto);
    height: 60px;
    min-width: 80px;
}

.frame-1-2,
.frame-1-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: fit-content;
}

.frame-1-item {
    letter-spacing: 1px;
    line-height: normal;
    width: fit-content;
}

.place-4 {
    letter-spacing: 1.25px;
    line-height: normal;
    margin-top: -1px;
    width: fit-content;
}

.place-3 {
    letter-spacing: 1.25px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

.email {
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

.address {
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

.input_box {
    background-color: var(--white);
    border-width: 0px;
    border: none;
    outline: none;
    height: 40px;
    min-width: 520px;
    margin-bottom: 35px;
    margin-left: 70px;
    position: relative;
    font-size: var(--font-size-l2);
}

.input_box:hover {
    background-color: var(--alto);
}

